{% extends 'layout.html' %}

{% block title %}
    Pagina da galeria
{% endblock %}

{% block nav %}
    <nav>
        <a href="/"> home </a>
        <a href="/about"> about </a>
        <a href="{% url 'posts:list' %}"> posts </a>
        <a href="/support"> support </a>
        <a href="/galeria"> galeria </a>
        <a href="/users/register"> users </a>
        <p> Nesta página você pode postar suas fotos </p>
    </nav>
{% endblock %}

{% block content %}
    <h1>Galeria</h1>
    <p></p>
{% endblock %}
