<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    {% block nav %}
        <nav> 
            <a href="/"> home </a>
            <a href="/about"> about </a>
            <a href="{% url 'posts:list' %}"> posts </a>
            <a href="/support"> support </a>
            <a href="/galeria"> galeria </a>
            <a href="/users"> users </a>
            <h1> Strawberry store </h1>
        </nav>
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
